body {
  background-color: FFFFFF;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  margin-top: 80px;
}
h1 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 60px;
}
p {
  color: 606060;
}
a {
  text-decoration: none;
}
a:link {
  color: hotpink;
}
a:visited {
  color: black;
}
a:hover {
  color: hotpink;
}
a:active {
  color: lightgrey;
}
